$green-100: #85A798;
$green-200: #C0D242;
$green-300: #00773B;

$blue-100: #59C0EB;
$blue-200: #63B9C0;
$blue-300: #0067B1;

$pink-100: #F5AEBC;

$yellow-100: #FFFF85;

$orange-300: #0067B1;

$gray-100: #EBEBEB;
$gray-200: #DCDCDC;
$gray-300: #C3C3C3;
$gray-400: #929292;
$gray-500: #585858;

$black: #000;
$white: #FFF;