@use "variables" as *;
@use "colors" as *;

.grid-container {
  width: 100%;
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0 $grid-margin;
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  column-gap: $grid-gutter;
  box-sizing: border-box; 
}

.grid-debug {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  
  .grid-container {
    height: 100%;
    
    div {
      background-color: rgba($blue-100, 0.2);
      height: 100%;
    }
  }
}
