@use "variables" as *;

h1,
.h1 {
  font-family: var(--font-familly-headings), sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: unset;
}

h2,
.h2 {
  font-family: var(--font-familly-headings), sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: unset;
}

p {
  font-family: var(--font-familly-sans-serif), sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: unset;
}

a {
  font-family: var(--font-familly-sans-serif), sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-bottom: unset;
}



/* MusBA */
@font-face {
  font-family: 'MusBA';
  src: url('/fonts/musba/MusBA-Regular.woff2') format('woff2'),
       url('/fonts/musba/MusBA-Regular.woff') format('woff'),
       url('/fonts/musba/MusBA-Regular.ttf') format('truetype'),
       url('/fonts/musba/MusBA-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SuisseIntl */
@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/suiss-intl/SuisseIntl-Book.woff2') format('woff2'),
       url('/fonts/suiss-intl/SuisseIntl-Book.woff') format('woff'),
       url('/fonts/suiss-intl/SuisseIntl-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/suiss-intl/SuisseIntl-Regular.woff2') format('woff2'),
       url('/fonts/suiss-intl/SuisseIntl-Regular.woff') format('woff'),
       url('/fonts/suiss-intl/SuisseIntl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/suiss-intl/SuisseIntl-Medium.woff2') format('woff2'),
       url('/fonts/suiss-intl/SuisseIntl-Medium.woff') format('woff'),
       url('/fonts/suiss-intl/SuisseIntl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@mixin title-h1 {
  font-family: $font-family-title;
  font-size: 80px;
  font-weight: 400;
}

@mixin title-h2 {
  font-family: $font-family-title;
  font-size: 100px;
  font-weight: 400;
}

@mixin text-body {
  font-family: $font-family-text;
  font-size: 100px; 
  font-weight: 400;
}

@mixin text-link {
  font-family: $font-family-text;
  font-size: 100px;
  text-decoration: underline;
  cursor: pointer;
}
