$spacing-4: 4px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-74: 74px;
$spacing-80: 80px;
$spacing-96: 96px;
$spacing-136: 136px;
$spacing-144: 144px;

$border-width: 5px;

$font-family-headings: "MusBA";
$font-family-sans-serif: "baseFont";

$grid-width: 3840px;
$grid-columns: 6;
$grid-margin: 144px;
$grid-gutter: 144px;
